.insighsContainer{
  background: white;
  padding: 22px;
  border-radius: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);

  }
  
  h2{
  color: #d98718;
  font-size: 20px;
  font-weight: bold;
 }
  
  
  .insight{
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 14px;
    font-weight: 600;
  }
  
  .greenBox{
    background: #eef9ea;
    color: #72a82d;
    margin-bottom: 10px;

  }
  
  .blueBox{
    background: #eef5ff;
    color: #4f7fd4;
    margin-bottom: 10px;
  }
  
  .orangeBox{
    background: #fff4e7;
    color: #d98718;
    margin-bottom: 10px;
  }
  
  .purpleBox{
    background: #f1edff;
    color: #7a61d8;
    margin-bottom: 10px;
  }